include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/wprdcstats *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/wprdcstats/migration *.ini *.py *.mako
recursive-include ckanext/wprdcstats/public *.*
